<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lefeCircle</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div>
        <button class="btn" id="btn-open">打开dialog</button>
        <button class="btn" id="btn-change-name">修改dialog Name</button>
        <button class="btn" id="btn-remove">移除dialog</button>
        <button class="btn" id="btn-adopt">Adopt dialog</button>
    </div>
    <iframe id="ifr" frameborder="0"></iframe>
    <script src="./index.js"></script>
    <script src="./handle.js"></script>
</body>

</html>